header {
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background: linear-gradient(to bottom right, white 38%, blue 40%, blue 60%, white 62%);
}

#navigationBar {

}

#logo{
    width: 10%;
}

#navigationBar ul {
    list-style-type: none;
    margin:0;
    padding: 0;

}
#navigationBar ul li{
    margin:0;
    width: Calc( 25% - 10px - 10%);
    padding: 5px 10px;
    display: inline;
}
#navigationBar ul li a{
    text-decoration: none;
    color: black;
    font-size: large;
}

/*#navigationBar ul li {
    padding: 10px;
    display: inline-block;
    float: left;
    border-left: rgba(0,0,0,0.5) solid 2px;
    margin:0;
}
#navigationBar ul li:first-of-type {
    border: none;
}
#navigationBar ul li:hover {
    background-color: rgba(0,0,0,0.2);
}
#navigationBar ul li:active {
    background-color: rgba(0,0,0,0.5);
}*/