#content{
    text-align: center;
}
.map{
    width:600px;
    height:450px;
    transition: width 0.5s, height 0.5s;
}
#route ul{
    text-align: left;
}
#mapsZoomOut{
    border-radius: 15px;
}
#mapsZoomIn{
    border-radius: 15px;
}
@media screen and (max-width: 850px){
    .map{
        width:300px;
        height:225px;
    }
}
@media screen and (max-width: 460px){
    .map{
        width:200px;
        height:200px;
    }
}