.boarding{
    background-color: orange;
}
.vertrokken{
    background-color: deepskyblue;
}
.afgelast{
    background-color: red;
}
.schema{
    background-color: green;
}
.vertraagd{
    background-color: yellow;
}